.list-item {
    cursor: pointer;

    background-color: black;
    padding: 5px;
    margin: 10px auto;
    width: 80%;
    box-shadow: 1px 1px 2px 1px white;
    border: 1px solid rgba(255, 255, 255,.4);
}


.list-item:hover,.active-item {
    background-color: aliceblue;
    opacity: .5;
    color: aliceblue;
    border: 1px solid rgb(255, 255, 255);
    color: black;
}